{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block content %}

<h1>Mon compte</h1>

- Mes commandes <hr>
-  <a href="{{ path('account_password') }}"> Parametre du compte </a> <br>
-  <a href="{{ path('account_address') }}"> Gérer mes adresses </a> <br>
- Payments

{% endblock %}
