{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block content %}

<h1>Mon compte</h1>

- Mes commandes
-  <a href="{{ path('account_password') }}"> Parametre du compte </a> <br>
- Payments

{% endblock %}
