{% extends 'base.html.twig' %}

{% block title %}Paramètres{% endblock %}

{% block content %}

<h1>Paramètres</h1>

<hr>
     {{ form(form) }} 
<hr>

     {% if notification %}
          <div class="alert alert-info"> {{ notification }}</div>
     {% endif %}     

  <a href="{{ path('account') }}"> Retour </a> <br>

{% endblock %}